<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meu CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="/static/request.js"></script>
</head>
<body>
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <form>
                <div class="form-group">{{ form.nome.label }}{{form.nome(class="form-control")}}</div>
                <div class="form-group">{{ form.sobrenome.label }}{{form.sobrenome(class="form-control")}}</div>
                <div class="form-group">{{ form.but(class="btn btn-dark",
                    onclick="post_user();get_users();", type="") }}</div>
                
                
            </form>
            <h2>Usuarios</h2>
            <table id="users" class="table table-dark table-striped"></table>
        </div>
    </div>
</body>
</html>